@media only screen (wax-width: 1024px) {

html {
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  display: block;
}
}

body {
  font: Helvetica;

}
